.registration form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



    button {
        background: green;
        color: white;
        font-style: bold;
        width:  80px;
        border: none;
        border-radius: 3px;
    }